body {
  background-color: bisque;
  padding: 40px;
  font-family: "Raleway", sans-serif;
}

h1 {
  margin: auto;
  text-align: center;
  margin-bottom: 20px;
}

form {
  border: 2px solid white;
  border-radius: 20px;
  width: 75%;
  max-width: 500px;
  padding: 40px;
  margin: auto;
}

fieldset {
  border-style: none;
}

fieldset label {
  display: inline-block;
  margin: 10px0px;
}

#fieldset\ 1 input {
  display: block;
  border-radius: 5px;
  border-style: none;
  margin: 10px 0px;
  padding: 4px;
  height: 20px;
  width: 300px;
}

#fieldset\ 2 input[type="radio"] {
  margin: 20px 10px;
}

#fieldset\ 2 textarea {
  margin: 20px 0px;
  height: 160px;
  width: 300px;
  border-radius: 5px;
  padding: 4px;
  border-style: none;
}

textarea {
  font-family: raleway, sans-serif;
}

button {
  margin: 20px auto;
  align-content: center;
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-radius: 20px;
  border-style: none;
  background-color: white;
  color: black;
  font-weight: bold;
}
